@import "../mixins/index.scss";

.resources {
  background: var(--foreground-color);

  &__container {
    padding-block: 120px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include on-tablet {
      padding-top: 64px;
      padding-bottom: 55px;
    }

    @include on-desktop {
      flex-direction: row;
      justify-content: space-between;
      gap: 70px;
    }
  }

  &__text {
    max-width: 530px;

    @include on-desktop {
      text-align: left;
    }
  }

  &__title {
    font-size: 28px;
    line-height: 1.6;

    @include on-desktop {
      font-size: 34px;
    }
  }
  &__subtitle {
    margin-top: 25px;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;

    @include on-desktop {
      margin-top: 0;
      max-width: 420px;
    }
  }
  &__items {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    gap: 100px;

    @include on-tablet {
      width: 100%;
      flex-direction: row;
      gap: 20px;
      justify-content: space-around;
      align-items: flex-start;
    }

    @include on-laptop {
      gap: 90px;
    }

    @include on-desktop {
      margin-top: 0;
    }
  }
  &__item {
    max-width: 200px;
    position: relative;
    z-index: 1;
    flex: 1 1 0;

    &::before {
      position: absolute;
      z-index: -1;
      display: block;
      content: "";
      width: 260px;
      height: 260px;
      top: -62px;
      left: 50%;
      transform: translateX(-50%);
      pointer-events: none;

      background: radial-gradient(
        50% 50% at 50% 50%,
        rgba(12, 54, 185, 0.6) 0%,
        rgba(5, 24, 83, 0) 100%
      );
      @include on-desktop {
        height: 240px;
        width: 240px;
        left: 40%;
      }
    }
  }
  &__item-title {
    font-size: 34px;
    line-height: 1.6;
    margin-top: 15px;
  }
  &__item-image {
    width: 156px;
    height: 156px;
    border-radius: 50%;
    object-fit: cover;
  }
}
