@import "../mixins/index.scss";

.service-card {
  position: relative;
  z-index: 1;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 30px;
  padding-bottom: 70px;
  text-align: center;

  &::before,
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: calc(100% - 100px);
    width: 100%;
    z-index: -1;
    border-radius: 25px;

    @include on-laptop {
      height: calc(100% - 70px);
    }
  }

  &::before {
    background: #15223b;
    transform: rotate(-5deg);
  }
  &::after {
    background: var(--foreground-color);
    transform: rotate(5deg);
  }

  &__image {
    width: 220px;
    height: 220px;
    object-fit: cover;
    border-radius: 50%;

    @include on-laptop {
      width: 180px;
      height: 180px;
    }
  }
  &__title {
    margin-top: 25px;
    font-size: 28px;
    line-height: 1.6;
  }
  &__description {
    margin-top: 15px;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
  }
  &__link {
    position: relative;
    margin-top: 40px;
    font-size: 18px;
    line-height: 1.6;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 11px;
    color: var(--accent-primary-color);

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background: currentColor;
      transform: scaleX(0);
      transition: transform 0.15s ease;
    }

    &:hover::after {
      transform: scaleX(1);
    }
  }

  &__link-icon {
    width: 18px;
    height: 14px;
  }
}
